@model TelefonRehberi.ViewModel.VM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Public/_LayoutPublic.cshtml";
}

<h2>Public Index</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Telefon</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var calisan in Model.calisanlar)
        {
            <tr>
                <td>@calisan.ID</td>
                <td>@calisan.CalisanAd</td>
                <td>@calisan.CalisanSoyad</td>
                <td>@calisan.Telefon</td>
                <td><button type="button" class="btn btn-default">Detay</button></td>
            </tr>
        }
    </tbody>
</table>

