<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Rehber - Admin</title>

    <!--CSS başlangıç-->
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!--CSS bitiş-->

    <!--JS başlangıç-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
    <!--JS bitiş-->

</head>
<body>
    <!--Navbar başlangıç-->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Mobil Menü -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Public/Index">Telefon Rehberi</a>
            </div>

            <!-- Masaüstü Menü -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Admin/Index">Anasayfa</a></li>
                    <li><a href="/Admin/Index">Çalışanlar</a></li>
                    <li><a href="/Admin/Departmanlar">Departmanlar</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#SifreDegistirModal">Şifre Değiştir</a></li>
                            <li><a href="#" onclick="Cikis()">Çıkış</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--Navbar bitiş-->

    <div class="container"> 
        @RenderBody()
    </div>

    <!--Şifre Değiştirme Modal -->
    <div class="modal fade" id="SifreDegistirModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Şifre Değiştir</h4>
                </div>
                <div class="modal-body container">
                    <div class="col-md-4 col-md-offset-1">
                        <div id="hata" class="alert alert-danger collapse" role="alert"></div>
                        <div class="form-group">
                            <input id="eskiParola" class="form-control" placeholder="Eski Parola" name="Eski Parola" type="password" value="">
                        </div>
                        <div class="form-group">
                            <input id="yeniParola" class="form-control" placeholder="Yeni Parola" name="Yeni Parola" type="password" value="">
                        </div>
                        <div class="form-group">
                            <input id="yeniParolaTekrar" class="form-control" placeholder="Yeni Parola Tekrar" name="Yeni Parola Tekrar" type="password" value="">
                        </div>
                        <button class="btn btn-primary btn-block" onclick="SifreDegistir()">Şifreyi Değiştir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Şifre Değiştirme Modal Sonu-->

    <script>
        function SifreDegistir() {
            var kontrol = true;
            if ($.trim($("#eskiParola").val()) == "" || $.trim($("#yeniParola").val()) == "" || $.trim($("#yeniParolaTekrar").val()) == "") {
                $("#hata").html("<p>Zorunlu alanları boş bırakma!</p>").show();
                kontrol = false;
            }

            if (kontrol == true && ($("#yeniParola").val() == $("#yeniParolaTekrar").val())) {
                var veri = {
                    eskiParola: $("#eskiParola").val(),
                    yeniParola: $("#yeniParola").val()
                };
                console.log(veri);
                $.post("/Admin/SifreDegistir", veri, function (cevap) {
                    if (cevap == "Başarılı.") {
                        window.location.reload(true);
                    }
                    else {
                        $("#hata").html("<p>" + cevap + "</p>").show();
                    }
                });
            }
            else {
                $("#hata").html("<p>Parolalar uyuşmuyor!</p>").show();
            }
        }

        function Cikis() {
            $.post("/Public/CikisYap", function (cevap) {
                window.location = "../../Public/Index";
            });
        }
    </script>
</body>
</html>
