
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>Departman Ekle</h2>
<br /><br />

<form class="form-horizontal">
    <div id="hata" class="alert alert-danger collapse col-sm-12" role="alert"></div>
    <div class="form-group">
        <label for="departmanAdi" class="col-sm-2 control-label">*Departman Adı: </label>
        <div class="col-sm-9">
            <input id="departmanAdi" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="aciklama" class="col-sm-2 control-label">Açıklama: </label>
        <div class="col-sm-9">
            <textarea id="aciklama" class="form-control" rows="3"></textarea>
        </div>
    </div>
</form>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
        <button class="btn btn-default pull-right" onclick="DepartmanEkle();">Kaydet</button>
    </div>
</div>

<script>
    function DepartmanEkle() {
        var kontrol = true;
        if ($.trim($("#departmanAdi").val()) == "") {
            $("#hata").html("<p>Zorunlu alanları boş bırakma!</p>").show();
            kontrol = false;
        }

        if (kontrol == true) {
            var departman = {
                DepartmanAdi: $("#departmanAdi").val(),
                Aciklama: $("#aciklama").val()
            };

            $.post("/Admin/DepartmanEklee", { departman: departman }, function (cevap) {
                if (cevap == "Departman güncelleme başarılı.") {
                    window.location = "../../Admin/Departmanlar";
                }
                else {
                    $("#hata").html("<p>" + cevap + "</p>").show();
                }
            });
        }
    }
</script>