
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>DepartmanEkle</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label for="calisanAd" class="col-sm-2 control-label">*Çalışan Adı: </label>
        <div class="col-sm-9">
            <input id="departmanAdi" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="calisanSoyad" class="col-sm-2 control-label">*Çalışan Soyadı: </label>
        <div class="col-sm-9">
            <textarea id="aciklama" class="form-control" rows="3"></textarea>
        </div>
    </div>
</form>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
        <button class="btn btn-default pull-right" onclick="DepartmanEkle();">Kaydet</button>
    </div>
</div>

<script>
    function DepartmanEkle() {
        var kontrol = true;
        if ($.trim($("#departmanAdi").val()) == "") {
            console.log("Zorunlu alanı boş geçmeyin!");
            kontrol = false;
        }

        if (kontrol == true) {
            var departman = {
                DepartmanAdi: $("#departmanAdi").val(),
                Aciklama: $("#aciklama").val()
            };
            console.log(departman);
            $.post("/Admin/DepartmanEklee", { departman: departman }, function (cevap) {
                console.log(cevap);
            });
        }
    }
</script>